.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(221 54 65);
    font-size: 14px;
}

.bg-light {
    background-color: #ffffff!important;
    height: 100px;
}

ul.navbar-nav.mr-auto {
    padding: 0px 20px 0 1px;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    padding-left: 100px;
}

a#navbarDropdown {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 14px;
}

a.nav-link {
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}

a.nav-link:hover {
    color: rgb(221 54 65) !important;
    font-family: 'Rubik', sans-serif;
}

form.form-inline.my-2.my-lg-0 {
    padding-right: 130px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    background: #db2531;
    color: #fff;
    padding: 14px 32px;
    display: inline;
    border: none;
    border-radius: 100px;
    transition: opacity 0.15s;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
    padding: 0px;
}

.row {
    margin: 0 !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    padding: 0 18px;
}

.index-sec1 p {
    font-weight: 400;
    font-size: 30px;
}

.index-sec2 .fa {
    color: #db2531;
    font-size: 40px !important;
}

.index-sec2 h5 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.index-sec2 p {
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.index-sec2 {
    margin-bottom: 30px !important;
}

.box-sex {
    background-color: #f8f7f6 !important;
    padding: 30px;
}

.baseBlock {
    margin: 0px 0px 35px 0px;
    padding: 0 0 15px 0px;
    border-radius: 5px;
    overflow: hidden;
    min-height: 349px;
    background: #fff;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 5px solid #f8f7f6;
}

.baseBlock:hover {
    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    -o-transform: translate(0, -8px);
    transform: translate(0, -8px);
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

h4.card-title {
    font-weight: 400;
}

p.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(219 37 49);
}

.index-sec3 p {
    margin-top: 20px;
    color: rgba(0, 0, 0, .5);
}

.index-sec3 li {
    list-style: none;
    line-height: 32px;
    color: rgba(0, 0, 0, .5);
}

.index-sec3 .fa {
    color: #db2531;
}

#main {
    margin: 50px 0;
}

#main #faq .card {
    margin-bottom: 20px;
    border: 0;
}

#main #faq .card a {
    font-weight: bold;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border-radius: 2px;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid gray;
}

a.btn.btn-header-link {
    box-shadow: none;
}

#main #faq .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    color: rgba(0, 0, 0, .5);
    padding: 11px;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
    color: rgba(0, 0, 0, .5);
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
}

#main #faq .card .collapsing {
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    line-height: 30px;
    color: rgba(0, 0, 0, .5);
}

.index-sec4 h6 {
    font-style: italic;
    margin-top: 15px;
}

.client-sec {
    background-color: #f8f7f6;
    height: 520px;
}

.index-sec5 {
    background: #ffffff;
    box-shadow: 0 17px 35px rgb(74 74 115 / 10%), 0px 5px 15px rgb(0 0 0 / 7%);
    border: 7px solid #f8f7f6;
    padding: 15px;
}

.index-sec6 p {
    color: #999;
}

.index-sec7 p {
    color: #666677;
    font-size: 13px;
}

.index-sec5 img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.city-img {
    background-image: url('images/city-clouds.jpg');
    background-size: auto;
    background-position: center;
}

.city-img p {
    margin-top: 100px;
    color: #fff;
    margin-bottom: 80px;
    font-size: 25px;
}

.card-text p {
    font-weight: bold !important;
    font-size: 18px !important;
    color: black !important;
}

.card a {
    text-decoration: none;
    color: #666677;
}

.card-sec {
    background-color: #f8f7f6;
}

.index-sec8 p {
    color: #666677;
    line-height: 28px;
}

.btn {
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    background: #db2531;
    color: #fff;
}

.form-sec p {
    font-size: 11px;
    color: #666677;
    margin-top: 20px;
    line-height: 23px;
}

.btn1 {
    margin-top: 30px;
    background-color: #fff;
    color: #666677;
    border: 2px solid orange;
    font-size: 13px;
}

.form-sec {
    background: #f8f7f6;
    padding: 40px 40px 16px 40px;
    box-shadow: 0px 17px 35px rgb(74 74 115 / 10%), 0px 5px 15px rgb(0 0 0 / 7%);
}

footer {
    background-color: #f8f7f6;
}

.footer-sec h5 {
    margin-bottom: 30px;
}

.footer-sec p {
    color: #666677;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
}

.footer-sec1 p {
    color: #666677;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 25px;
}

.footer-sec2 input {
    padding: 15px;
    width: 60%;
    margin-top: 20px;
    background-color: #f8f7f6;
    border: 1px solid gray;
}

.footer-sec2 button {
    padding: 15px;
    margin-left: -10px;
    width: 30%;
    border: 1px solid #ddd;
    background-color: #f8f7f6;
}

.footer-sec2 button :hover {
    border: 1px solid gray !important;
}

.footer-sec2 p {
    margin-top: 30px;
    color: #666677;
}

.footer-sec2 h6 {
    color: #666677;
    font-weight: 500;
    font-style: italic;
}

.foote-foot p {
    color: #666677;
    font-size: 13px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 40px;
}

.dropdown-content a {
    color: #ddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.dropdown-content h6 {
    color: #ddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column3 {
    min-width: 900px;
}


/* -------------------bannner---------------- */

header .item {
    height: 100vh;
    position: relative;
}

header .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

header .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
}

header .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    /* border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%); */
}

header .item .cover .header-content h2 {
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    margin-top: 244px;
}

header .item .cover .header-content p {
    font-size: 26px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}

header .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}

header .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
}

header .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

header .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

header .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

header .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}

header .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}

header .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
}

header .owl-nav .owl-prev:focus {
    outline: 0;
}

header .owl-nav .owl-prev:hover {
    background: #000 !important;
}

header .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
}

header .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
}

header .owl-nav .owl-next:focus {
    outline: 0;
}

header .owl-nav .owl-next:hover {
    background: #000 !important;
}

header:hover .owl-prev {
    left: 0px;
    opacity: 1;
}

header:hover .owl-next {
    right: 0px;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        color: #f8f9fa;
        padding: 2px 33px;
        font-size: 20px;
    }
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: rgb(221 54 65);
        font-size: 23px;
    }
    .city-img {
        display: none;
    }
    .card-sec {
        background-color: #f8f7f6;
        margin-top: 857px;
    }
    section.card-sec .card {
        width: 25rem;
    }
}